@model OlympLogin.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Please login";
}

<form asp-antiforgery="true" asp-action="Login" asp-controller="Users">
    <p>Пожалуйста, авторизируйтесь для входа в систему</p>
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="inputs">
        <label asp-for="Login">Логин</label>
        <input type="text" placeholder="Логин" asp-for="Login" required>
        <label asp-for="Password">Пароль</label>
        <input type="password" placeholder="Пароль" asp-for="Password" required>
        <input type="submit" value="Войти" />
    </div>
</form>
<a asp-action="Register">Зарегистрироваться</a>
