@model OlympLogin.ViewModels.UserRegisterViewModel

<h2>Create</h2>

<h4>Users</h4>
<hr />

<form>
    @Html.DropDownListFor(x=>Model.SelectedRegion, new SelectList(Model.Regions, "Value", "Text"))
    
    
    @Html.DropDownListFor(x=>Model.SelectedCity, new SelectList(Model.Cities, "Value", "Text"))
    
    @Html.DropDownListFor(x=>Model.SelectedStreet, new SelectList(Model.Streets, "Value", "Text"))
    
    
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#SelectedRegion').select2();

        async function getResult(url, select) {
            try {
                const response = await fetch(url);
                const objects = await response.json();
                console.log(objects);
                for (const object of objects) {
                    const child = document.createElement('option');
                    child.value = object.value;
                    child.innerText = object.text;
                    select.appendChild(child);
                }
                $(select).select2();
            } catch (e) {
                console.error(e);
            }
        }

        document.querySelector('#SelectedRegion').onchange = async function(e) {
            const selected = e.target.value;
            console.log(selected);
            const citiesSelect = document.querySelector('#SelectedCity');
            
            //const rayonsSelect = document.querySelector('#SelectedRayon');
            citiesSelect.options.length = 1;
            //rayonsSelect.options.length = 1;
            if (!selected) {
                return;
            }
            await getResult(`@Url.Action("GetLocalities")?region=${selected}`, citiesSelect);
        }

        document.querySelector('#SelectedCity').onchange = async function(e) {
            const selected = e.target.value;
            console.log(selected);
            const streetSelect = document.querySelector('#SelectedStreet');
            streetSelect.options.length = 1;
            if (!selected) {
                return;
            }
            await getResult(`@Url.Action("GetStreets")?city=${selected}`, streetSelect);
        }

        @*document.querySelector('#SelectedRayon').onchange = async function(e) {
            const selected = e.target.value;
            console.log(selected);
            const localitiesSelect = document.querySelector('#SelectedLocality');
            localitiesSelect.options.length = 1;
            if (!selected) {
                return;
            }
            await getResult(`@Url.Action("GetLocalities")?rayon=${selected}`, localitiesSelect);
        }*@

        document.querySelector('#SelectedLocality').onchange = async function(e) {
            const selected = e.target.value;
            console.log(selected);
            const streetSelect = document.querySelector('#SelectedStreet');
            streetSelect.options.length = 1;
            if (!selected) {
                return;
            }
            await getResult(`@Url.Action("GetStreets")?city=${selected}`, streetSelect);
        }
    </script>
}