@model OlympLogin.ViewModels.UserRegisterViewModel

<h2>Create</h2>

<h4>Users</h4>
<hr />

<form>
    @Html.DropDownListFor(x=>Model.SelectedRegion, new SelectList(Model.Regions, "Value", "Text"))
    
    
    @Html.DropDownListFor(x=>Model.SelectedCity, new SelectList(Model.Cities, "Value", "Text"))
    
    
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.querySelector('#SelectedRegion').onchange = async function(e) {
            const selected = e.target.value;
            console.log(selected);
            const citiesSelect = document.querySelector('#SelectedCity');
            citiesSelect.options.length = 1;
            if (!selected) {
                return;
            }
            try {
                const response = await fetch(`@Url.Action("GetCities")?region=${selected}`);
                const cities = await response.json();
                console.log(cities);
                for (const city of cities) {
                    const child = document.createElement('option');
                    child.value = city.value;
                    child.innerText = city.text;
                    citiesSelect.appendChild(child);
                }
            } catch (e) {
                console.error(e);
            }

        }
    </script>
}